.ProjectCard {
  cursor: pointer;
  position: relative;
  padding: 0;
}

.overlay {
  width: 0%;
  height: 100%;
  background-color: $color-secondary;
  position: absolute;
  visibility: hidden;
  transition-duration: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-project {
  display: none;
}
.NoLinkText {
  display: none;
}
.ProjectCard:hover .overlay {
  visibility: visible;
  width: 100%;
}
.ProjectCard:hover .btn-project {
  display: block;
  transition-delay: 0.2s;
}
.ProjectCard:hover .NoLinkText {
  display: block;
  transition-delay: 0.3s;
}
